In [1]:
 # Install the following modules
!pip install pandas_datareader

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas_datareader in c:\users\q no-804\appdata\roaming\python\python311\site-packages (0.10.0)
Requirement already satisfied: lxml in c:\programdata\anaconda3\lib\site-packages (from pandas_datareader) (4.9.3)
Requirement already satisfied: pandas>=0.23 in c:\programdata\anaconda3\lib\site-packages (from pandas_datareader) (2.1.4)
Requirement already satisfied: requests>=2.19.0 in c:\programdata\anaconda3\lib\site-packages (from pandas_datareader) (2.31.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2024.2.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.23->pandas_datareader) (1.16.0)

In [2]:
# Install the openpyxl package to handle excel files properly
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\programdata\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [3]:
import warnings
warnings.simplefilter("ignore")

In [4]:
from IPython import get_ipython
get_ipython().magic('reset -sf')

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
import pandas as pd
filename = ('imf_data.csv')
try:
     df = pd.read_csv(filename)
except FileNotFoundError:
    print("File Doesn't Exist")
else:
    print(f"The {filename} File was read successfully")

The imf_data.csv File was read successfully

In [7]:
# Confirming if the dataframe is empty
df.empty

False

In [8]:
# Checking the first 10 records of the dataframe
df.head(10)

,Real GDP growth (Annual percent change),1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,-2.4,-14.5,-6.2,no data,no data,no data,no data,no data,no data,no data
2,Albania,2.7,5.7,2.9,1.1,2,-1.5,5.6,-0.8,-1.4,...,-3.3,8.9,4.8,3.3,3.1,3.4,3.5,3.5,3.5,3.5
3,Algeria,-5.4,3,6.4,5.4,5.6,5.6,-0.2,-0.7,-1.9,...,-5,3.8,3.6,4.2,3.8,3.1,2.5,2.1,2.1,2.1
4,Andorra,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,-11.2,8.3,9.6,2.3,1.8,1.5,1.5,1.5,1.5,1.5
5,Angola,2.4,-4.4,0,4.2,6,3.5,2.9,4.1,6.1,...,-5.6,1.2,3,0.5,2.6,3.1,3.4,3.5,3.6,3.6
6,Antigua and Barbuda,8.2,3.8,-0.1,5.4,10.2,7.6,11.5,6.6,5.2,...,-17.5,6.6,8.5,5.9,6.1,4,2.8,2.8,2.8,2.8
7,Argentina,0.7,-5.7,-3.1,3.7,2,-7,7.1,2.5,-2,...,-9.9,10.7,5,-1.6,-2.8,5,4.5,3.9,3.1,2.3
8,Armenia,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,-7.2,5.7,12.6,8.7,6,5.2,4.5,4.5,4.5,4.5
9,Aruba,no data,no data,no data,no data,no data,no data,no data,16.1,18.6,...,-24,27.6,10.5,5.3,1.1,1,1.1,1.1,1.1,1.1

In [9]:
# Checking how many records and columns we imported
df.shape

(231, 51)

In [10]:
#Removing Nan values
df_clean =df.dropna()
print(df_clean)

    Real GDP growth (Annual percent change)     1980     1981     1982  \
1                               Afghanistan  no data  no data  no data
2                                   Albania      2.7      5.7      2.9
3                                   Algeria     -5.4        3      6.4
4                                   Andorra  no data  no data  no data
5                                    Angola      2.4     -4.4        0
..                                      ...      ...      ...      ...
224           Major advanced economies (G7)      0.9      1.9        0
225            Middle East and Central Asia     -1.3      0.4      0.4
226                Other advanced economies      3.8      4.2      2.2
227                      Sub-Saharan Africa  no data  no data  no data
228                                   World      2.2        2      0.7

        1983     1984     1985     1986     1987     1988  ...   2020   2021  \
1    no data  no data  no data  no data  no data  no data  ...   -2.4  -14.5
2        1.1        2     -1.5      5.6     -0.8     -1.4  ...   -3.3    8.9
3        5.4      5.6      5.6     -0.2     -0.7     -1.9  ...     -5    3.8
4    no data  no data  no data  no data  no data  no data  ...  -11.2    8.3
5        4.2        6      3.5      2.9      4.1      6.1  ...   -5.6    1.2
..       ...      ...      ...      ...      ...      ...  ...    ...    ...
224      3.4        5      3.8      3.1      3.5      4.7  ...   -4.1    5.5
225      0.7      0.3      1.2        2     -0.1      3.3  ...   -2.4    4.5
226        4      6.6      4.3      5.5      6.5      5.5  ...   -1.7    5.8
227  no data  no data  no data  no data  no data  no data  ...   -1.6    4.7
228      2.6      4.6      3.6      3.6      3.9      4.7  ...   -2.7    6.5

     2022     2023     2024     2025     2026     2027     2028     2029
1    -6.2  no data  no data  no data  no data  no data  no data  no data
2     4.8      3.3      3.1      3.4      3.5      3.5      3.5      3.5
3     3.6      4.2      3.8      3.1      2.5      2.1      2.1      2.1
4     9.6      2.3      1.8      1.5      1.5      1.5      1.5      1.5
5       3      0.5      2.6      3.1      3.4      3.5      3.6      3.6
..    ...      ...      ...      ...      ...      ...      ...      ...
224   2.2      1.7      1.7      1.6      1.6      1.6      1.6      1.6
225   5.3        2      2.8      4.2      3.8      3.9      3.6      3.7
226   2.7      1.8        2      2.4      2.2      2.2      2.2      2.1
227     4      3.4      3.8        4        4      4.3      4.3      4.3
228   3.5      3.2      3.2      3.2      3.2      3.1      3.1      3.1

[228 rows x 51 columns]

In [11]:
# Replace the no data in records with float

replace_value = 0.0
df = df.replace('no data', replace_value)
print(df)

    Real GDP growth (Annual percent change)  1980 1981 1982 1983 1984  1985  \
0                                       NaN   NaN  NaN  NaN  NaN  NaN   NaN
1                               Afghanistan   0.0  0.0  0.0  0.0  0.0   0.0
2                                   Albania   2.7  5.7  2.9  1.1    2  -1.5
3                                   Algeria  -5.4    3  6.4  5.4  5.6   5.6
4                                   Andorra   0.0  0.0  0.0  0.0  0.0   0.0
..                                      ...   ...  ...  ...  ...  ...   ...
226                Other advanced economies   3.8  4.2  2.2    4  6.6   4.3
227                      Sub-Saharan Africa   0.0  0.0  0.0  0.0  0.0   0.0
228                                   World   2.2    2  0.7  2.6  4.6   3.6
229                                     NaN   NaN  NaN  NaN  NaN  NaN   NaN
230                              ©IMF, 2024   NaN  NaN  NaN  NaN  NaN   NaN

     1986  1987  1988  ...   2020   2021  2022 2023 2024 2025 2026 2027 2028  \
0     NaN   NaN   NaN  ...    NaN    NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN
1     0.0   0.0   0.0  ...   -2.4  -14.5  -6.2  0.0  0.0  0.0  0.0  0.0  0.0
2     5.6  -0.8  -1.4  ...   -3.3    8.9   4.8  3.3  3.1  3.4  3.5  3.5  3.5
3    -0.2  -0.7  -1.9  ...     -5    3.8   3.6  4.2  3.8  3.1  2.5  2.1  2.1
4     0.0   0.0   0.0  ...  -11.2    8.3   9.6  2.3  1.8  1.5  1.5  1.5  1.5
..    ...   ...   ...  ...    ...    ...   ...  ...  ...  ...  ...  ...  ...
226   5.5   6.5   5.5  ...   -1.7    5.8   2.7  1.8    2  2.4  2.2  2.2  2.2
227   0.0   0.0   0.0  ...   -1.6    4.7     4  3.4  3.8    4    4  4.3  4.3
228   3.6   3.9   4.7  ...   -2.7    6.5   3.5  3.2  3.2  3.2  3.2  3.1  3.1
229   NaN   NaN   NaN  ...    NaN    NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN
230   NaN   NaN   NaN  ...    NaN    NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN

    2029
0    NaN
1    0.0
2    3.5
3    2.1
4    1.5
..   ...
226  2.1
227  4.3
228  3.1
229  NaN
230  NaN

[231 rows x 51 columns]

In [12]:
#Removing Nan values
df_clean =df.dropna()
print(df_clean)

    Real GDP growth (Annual percent change)  1980  1981 1982 1983 1984  1985  \
1                               Afghanistan   0.0   0.0  0.0  0.0  0.0   0.0
2                                   Albania   2.7   5.7  2.9  1.1    2  -1.5
3                                   Algeria  -5.4     3  6.4  5.4  5.6   5.6
4                                   Andorra   0.0   0.0  0.0  0.0  0.0   0.0
5                                    Angola   2.4  -4.4    0  4.2    6   3.5
..                                      ...   ...   ...  ...  ...  ...   ...
224           Major advanced economies (G7)   0.9   1.9    0  3.4    5   3.8
225            Middle East and Central Asia  -1.3   0.4  0.4  0.7  0.3   1.2
226                Other advanced economies   3.8   4.2  2.2    4  6.6   4.3
227                      Sub-Saharan Africa   0.0   0.0  0.0  0.0  0.0   0.0
228                                   World   2.2     2  0.7  2.6  4.6   3.6

     1986  1987  1988  ...   2020   2021  2022 2023 2024 2025 2026 2027 2028  \
1     0.0   0.0   0.0  ...   -2.4  -14.5  -6.2  0.0  0.0  0.0  0.0  0.0  0.0
2     5.6  -0.8  -1.4  ...   -3.3    8.9   4.8  3.3  3.1  3.4  3.5  3.5  3.5
3    -0.2  -0.7  -1.9  ...     -5    3.8   3.6  4.2  3.8  3.1  2.5  2.1  2.1
4     0.0   0.0   0.0  ...  -11.2    8.3   9.6  2.3  1.8  1.5  1.5  1.5  1.5
5     2.9   4.1   6.1  ...   -5.6    1.2     3  0.5  2.6  3.1  3.4  3.5  3.6
..    ...   ...   ...  ...    ...    ...   ...  ...  ...  ...  ...  ...  ...
224   3.1   3.5   4.7  ...   -4.1    5.5   2.2  1.7  1.7  1.6  1.6  1.6  1.6
225     2  -0.1   3.3  ...   -2.4    4.5   5.3    2  2.8  4.2  3.8  3.9  3.6
226   5.5   6.5   5.5  ...   -1.7    5.8   2.7  1.8    2  2.4  2.2  2.2  2.2
227   0.0   0.0   0.0  ...   -1.6    4.7     4  3.4  3.8    4    4  4.3  4.3
228   3.6   3.9   4.7  ...   -2.7    6.5   3.5  3.2  3.2  3.2  3.2  3.1  3.1

    2029
1    0.0
2    3.5
3    2.1
4    1.5
5    3.6
..   ...
224  1.6
225  3.7
226  2.1
227  4.3
228  3.1

[228 rows x 51 columns]

In [13]:
# Listing all the column headers of our dataframe
df.columns

Index(['Real GDP growth (Annual percent change)', '1980', '1981', '1982',
       '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020', '2021', '2022', '2023', '2024', '2025', '2026', '2027',
       '2028', '2029'],
      dtype='object')

In [14]:
# Use the info() function to check the data structure of your dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 51 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Real GDP growth (Annual percent change)  229 non-null    object
 1   1980                                     228 non-null    object
 2   1981                                     228 non-null    object
 3   1982                                     228 non-null    object
 4   1983                                     228 non-null    object
 5   1984                                     228 non-null    object
 6   1985                                     228 non-null    object
 7   1986                                     228 non-null    object
 8   1987                                     228 non-null    object
 9   1988                                     228 non-null    object
 10  1989                                     228 non-null    object
 11  1990                                     228 non-null    object
 12  1991                                     228 non-null    object
 13  1992                                     228 non-null    object
 14  1993                                     228 non-null    object
 15  1994                                     228 non-null    object
 16  1995                                     228 non-null    object
 17  1996                                     228 non-null    object
 18  1997                                     228 non-null    object
 19  1998                                     228 non-null    object
 20  1999                                     228 non-null    object
 21  2000                                     228 non-null    object
 22  2001                                     228 non-null    object
 23  2002                                     228 non-null    object
 24  2003                                     228 non-null    object
 25  2004                                     228 non-null    object
 26  2005                                     228 non-null    object
 27  2006                                     228 non-null    object
 28  2007                                     228 non-null    object
 29  2008                                     228 non-null    object
 30  2009                                     228 non-null    object
 31  2010                                     228 non-null    object
 32  2011                                     228 non-null    object
 33  2012                                     228 non-null    object
 34  2013                                     228 non-null    object
 35  2014                                     228 non-null    object
 36  2015                                     228 non-null    object
 37  2016                                     228 non-null    object
 38  2017                                     228 non-null    object
 39  2018                                     228 non-null    object
 40  2019                                     228 non-null    object
 41  2020                                     228 non-null    object
 42  2021                                     228 non-null    object
 43  2022                                     228 non-null    object
 44  2023                                     228 non-null    object
 45  2024                                     228 non-null    object
 46  2025                                     228 non-null    object
 47  2026                                     228 non-null    object
 48  2027                                     228 non-null    object
 49  2028                                     228 non-null    object
 50  2029                                     228 non-null    object
dtypes: object(51)
memory usage: 92.2+ KB

In [15]:
#Check for nulls
df.isnull().any()

Real GDP growth (Annual percent change)    True
1980                                       True
1981                                       True
1982                                       True
1983                                       True
1984                                       True
1985                                       True
1986                                       True
1987                                       True
1988                                       True
1989                                       True
1990                                       True
1991                                       True
1992                                       True
1993                                       True
1994                                       True
1995                                       True
1996                                       True
1997                                       True
1998                                       True
1999                                       True
2000                                       True
2001                                       True
2002                                       True
2003                                       True
2004                                       True
2005                                       True
2006                                       True
2007                                       True
2008                                       True
2009                                       True
2010                                       True
2011                                       True
2012                                       True
2013                                       True
2014                                       True
2015                                       True
2016                                       True
2017                                       True
2018                                       True
2019                                       True
2020                                       True
2021                                       True
2022                                       True
2023                                       True
2024                                       True
2025                                       True
2026                                       True
2027                                       True
2028                                       True
2029                                       True
dtype: bool

In [16]:
# Renaming the columns
df = df.rename(
    columns={'Real GDP growth (Annual percent change)':'Real GDP growth_Annual_percent_change',
            })
df.columns

Index(['Real GDP growth_Annual_percent_change', '1980', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019',
       '2020', '2021', '2022', '2023', '2024', '2025', '2026', '2027', '2028',
       '2029'],
      dtype='object')

In [17]:
# Changing all columns to the appropriate data types
string_columns = ['Real GDP growth_Annual_percent_change']
for column in string_columns:
    df[column] = df[column].astype ("string")
    
float_columns = ['1980', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019',
       '2020', '2021', '2022', '2023', '2024', '2025', '2026', '2027', '2028',
       '2029']
for column in float_columns:
    df[column] = df[column].astype ("float16")

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 51 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Real GDP growth_Annual_percent_change  229 non-null    string
 1   1980                                   228 non-null    float16
 2   1981                                   228 non-null    float16
 3   1982                                   228 non-null    float16
 4   1983                                   228 non-null    float16
 5   1984                                   228 non-null    float16
 6   1985                                   228 non-null    float16
 7   1986                                   228 non-null    float16
 8   1987                                   228 non-null    float16
 9   1988                                   228 non-null    float16
 10  1989                                   228 non-null    float16
 11  1990                                   228 non-null    float16
 12  1991                                   228 non-null    float16
 13  1992                                   228 non-null    float16
 14  1993                                   228 non-null    float16
 15  1994                                   228 non-null    float16
 16  1995                                   228 non-null    float16
 17  1996                                   228 non-null    float16
 18  1997                                   228 non-null    float16
 19  1998                                   228 non-null    float16
 20  1999                                   228 non-null    float16
 21  2000                                   228 non-null    float16
 22  2001                                   228 non-null    float16
 23  2002                                   228 non-null    float16
 24  2003                                   228 non-null    float16
 25  2004                                   228 non-null    float16
 26  2005                                   228 non-null    float16
 27  2006                                   228 non-null    float16
 28  2007                                   228 non-null    float16
 29  2008                                   228 non-null    float16
 30  2009                                   228 non-null    float16
 31  2010                                   228 non-null    float16
 32  2011                                   228 non-null    float16
 33  2012                                   228 non-null    float16
 34  2013                                   228 non-null    float16
 35  2014                                   228 non-null    float16
 36  2015                                   228 non-null    float16
 37  2016                                   228 non-null    float16
 38  2017                                   228 non-null    float16
 39  2018                                   228 non-null    float16
 40  2019                                   228 non-null    float16
 41  2020                                   228 non-null    float16
 42  2021                                   228 non-null    float16
 43  2022                                   228 non-null    float16
 44  2023                                   228 non-null    float16
 45  2024                                   228 non-null    float16
 46  2025                                   228 non-null    float16
 47  2026                                   228 non-null    float16
 48  2027                                   228 non-null    float16
 49  2028                                   228 non-null    float16
 50  2029                                   228 non-null    float16
dtypes: float16(50), string(1)
memory usage: 24.5 KB

In [19]:
# Save the clean dataframe as an excel file
try:
    df.to_excel('Imf Percent Growth.xlsx')
except Exception as error:
    print(f'{type(error)} detected: {error}')
    print()
else:
    print('File converted to MS Excel successfully')
finally:
    df.to_csv('Imf Percent Growth.csv')
    print('>> File Also saved as a csv <<')

File converted to MS Excel successfully
>> File Also saved as a csv <<